%hr
.container
  .row
    .col-md-12
      .jumbotron
        %h1
          = t('controllers.welcome.title')
        %p
          = t('controllers.welcome.content')
        %p
          = link_to_login(class: 'btn btn-primary btn-lg', role: 'button')
