%hr
.container
  .row
    .col-md-12
      .jumbotron
        %h1 Welcome to RedboothOnRails
        %p
          This is just an example of how to connect with Redbooth API.
          Right now, you are reading the public resource. If you want to see the protected
          resource, jus go login with Redbooth :P.
        %p
          = link_to_login(class: 'btn btn-primary btn-lg', role: 'button')
