<h1>Projects</h1>
<ul>
  <% @projects.each do |project| %>
    <li>
      <h3> <%= link_to project.name, project_path(project.id) %> </h3>
      <div class="description"><%= raw project.description  %></div>
      <small> Created on <%= Time.at(project.created_at).strftime('%c') %> </small>
    </li>
  <% end %>
</ul>
